#tooltip_1{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: auto;
    padding: 10px;
    background: white;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 2px;
    line-height: 1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 206, 145);
    color: white;
}

.heading1{
    font-size: 2rem;
    font-weight: 600;
}

.viz_container{
    display: flex;
    align-items: center;
}

.chloro, .eachCountry, .worldTrend, .eachYear {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.chloro h3, .eachCountry h3, .worldTrend h3, .eachYear h3 {
    font-size: 1.2em;
}
  

.chloro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eachYear{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chloro, .eachYear {
  min-width: 700px; /* Adjust this value as needed */
  min-height: 700px; /* Adjust this value as needed */
}

#countryHeading{
    padding-top: 45px;
}

.map{
    margin-bottom: 0px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#yearSlider {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    margin-top: 0px;
    background-color: #f0f0f0; 
    color: #333;
}

#yearSlider:focus {
    outline: none; 
    border: 1px solid #007BFF; 
}

#animateButton {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    margin-top: 0px;
    background-color: rgb(24, 206, 145); 
    color: #333;
    cursor: pointer;
}

path {
    stroke: gray;
    stroke-width: 1px;
}

path:hover {
    opacity: .75;
    stroke: black;
    stroke-width: 4px;
}



.tooltio_viz3 {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}